.main {
  padding-top: 242px;
}

.title,
.subtitle {
  color: #fff;
  width: 700px;
}

.title {
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
}

.subtitle {
  font-size: 30px;
  line-height: 150%;
}
