.searchBar {
  margin-top: 71px;
  display: flex;
  justify-content: space-between;
}

.search {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  width: 870px;
  height: 72px;
}

.button {
  background-color: #f6ba2b;
  border-radius: 5px;
  width: 190px;
  height: 72px;
}
