* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}
body {
  min-height: 100vh;
}
button {
  cursor: pointer;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a {
  color: inherit;
}
a:hover {
  cursor: pointer;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
